/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/fundo2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  font-family: Arial;
  font-size: 12px;
  height: 100vh;
}

/* body::after {
  content: "";
  background: url("../img/fundo.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
} */

/* Se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1441px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  header {
    height: 80vh;
  }
}

@media (min-width: 600px) {
  header {
    height: 60vh;
  }
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  /* background-color: aqua; */
  padding: 10px;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid;
}

.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  width: 180px;
  height: 180px;
}
